@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 15% 25%;
    --card: 60 30% 96%;
    --card-foreground: 20 15% 25%;
    --popover: 60 30% 96%;
    --popover-foreground: 20 15% 25%;
    --primary: 122 43% 39%;
    --primary-foreground: 120 100% 98%;
    --secondary: 122 20% 80%;
    --secondary-foreground: 122 43% 29%;
    --muted: 122 20% 85%;
    --muted-foreground: 20 10% 45%;
    --accent: 16 12% 63%;
    --accent-foreground: 0 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 122 20% 75%;
    --input: 122 20% 88%;
    --ring: 122 43% 39%;
    --chart-1: 122 43% 39%;
    --chart-2: 16 12% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 122 43% 15%;
    --sidebar-foreground: 120 15% 95%;
    --sidebar-primary: 122 43% 39%;
    --sidebar-primary-foreground: 120 100% 98%;
    --sidebar-accent: 122 43% 25%;
    --sidebar-accent-foreground: 120 15% 95%;
    --sidebar-border: 122 43% 20%;
    --sidebar-ring: 122 43% 45%;
  }

  .dark {
    --background: 20 15% 10%;
    --foreground: 60 30% 96%;
    --card: 20 15% 12%;
    --card-foreground: 60 30% 96%;
    --popover: 20 15% 10%;
    --popover-foreground: 60 30% 96%;
    --primary: 122 43% 45%;
    --primary-foreground: 120 100% 98%;
    --secondary: 122 20% 20%;
    --secondary-foreground: 60 30% 96%;
    --muted: 122 20% 20%;
    --muted-foreground: 60 20% 60%;
    --accent: 16 12% 63%;
    --accent-foreground: 0 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 122 20% 25%;
    --input: 122 20% 25%;
    --ring: 122 43% 45%;
    --chart-1: 122 43% 45%;
    --chart-2: 16 12% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 20 15% 5%;
    --sidebar-foreground: 120 15% 95%;
    --sidebar-primary: 122 43% 45%;
    --sidebar-primary-foreground: 120 100% 98%;
    --sidebar-accent: 122 43% 15%;
    --sidebar-accent-foreground: 120 15% 95%;
    --sidebar-border: 122 43% 10%;
    --sidebar-ring: 122 43% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
